<div class="p-comment__item">
  <div class="container">
    <div class="row">
      <div>
        <div class="icon">   
          <% if comment.user.picture? %>
            <%= link_to image_tag(comment.user.picture.url, class:"gravatar icon"), comment.user%>
          <% else %>
            <%= link_to gravatar_for(comment.user), comment..user, class: "icon" %>
          <% end %>
        </div>
        <p class="info_name"><%= link_to comment.user.name, comment.user %></p>
      </div>
      <div class="balloon">
        <p><%= simple_format(comment.comment) %></p>
      </div>
    </div>
  </div>


  <% if current_user %>
    <% if current_user.id == comment.user.id || current_user.id == @shop.user.id || current_user.admin? %>
      <div class="p-comment__bottomLine">
        <span id="timehere"><%= comment.created_at.to_s(:datetime_jp) %></span>
        <span><%= link_to "削除", comment, class:"btn btn-danger",method: :delete, data: {confirm: "削除してもよろしいですか？"} %></span>
      </div>
    <% end %>
  <% end %>
</div>