<%= form_with(model: shop, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name, "店名" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :area, "エリア" %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :genre, "ジャンル" %>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :likey, "お気に入り" %>
    <%= f.text_field :likey %>
  </div>

  <div class="field">
    <%= f.label :description, "詳細"%>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :url, "URL"%>
    <%= f.text_field :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#shop_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
