<div class="shop_form">
  <%= form_with(model: shop, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <span class="badge badge-danger">必須</span>
      <%= f.label :name, "店名" %>
      <span class="form_info">※50文字以内</span>
      <%= f.text_field :name, class:"form-control col-sm-4"%>
    </div>

    <div class="form-group">
      <%= f.label :area, "エリア" %>
      <span class="form_info">※10文字以内</span>
      <%= f.text_field :area, class:"form-control col-sm-4" %>
    </div>

    <div class="form-group">
      <%= f.label :genre, "ジャンル" %>
      <span class="form_info">※10文字以内</span>
      <%= f.text_field :genre, class:"form-control col-sm-4" %>
    </div>

    <div class="form-group">
      <%= f.label :address, "住所" %>
      <span class="form_info">※50文字以内</span>
      <%= f.text_field :address, class:"form-control col-sm-4" %>
    </div>

    <div class="form-group">
      <%= f.label :likey, "お気に入り" %>
      <span class="form_info">※50文字以内</span>
      <%= f.text_field :likey, class:"form-control col-sm-4" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "詳細"%>
      <span class="form_info">※500文字以内</span>
      <%= f.text_area :description, rows:5, class:"form-control col-sm-7" %>
    </div>

    <div class="form-group">
      <%= f.label :url, "URL"%>
      <%= f.text_field :url, class:"form-control col-sm-7"%>
    </div>

    <p>画像添付</p>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>

    <div class="shop_btn">
      <%= f.submit "投稿する" ,class:"btn btn-info"%>
    </div>
    
  <% end %>


<script type="text/javascript">
  $('#shop_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
