<% provide(:title, "投稿一覧") %>
<div class="shops">
  <h1>投稿一覧</h1>

  <div class="search_shop_form">
    <%= search_form_for @q, class:"mb-5" do |f| %>
      <div class="form-inline">
        <div class="form-group">
          <%= f.label :name_cont, "店名　　", class: "col-form-label" %>
          <div class="col-sm-3">
            <%= f.search_field :name_cont, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :area_cont, "エリア　　", class: "col-form-label" %>
          <div class="col-sm-3">
            <%= f.search_field :area_cont, class: "form-control" %>
          </div>
        </div>
      </div>
      <br>
      <div class="form-inline">
        <div class="form-group">
          <%= f.label :genre_cont, "ジャンル", class: "col-form-label" %>
          <div class="col-sm-3">
            <%= f.search_field :genre_cont, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :likey_cont, "お気に入り", class: "col-form-label" %>
          <div class="col-sm-3">
            <%= f.search_field :likey_cont, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.button :type => "submit", class: "btn btn-outline-primary" do%>
            <i class='fa fa-search'></i>検索
          <%end%>
        </div>
      </div>
      
    <% end %>
  </div>

  <div class="shop_index">
    <% @shops.each do |shop| %>
      <div class="shop_container">
        <div class="shop_text">
          <div class="shop_name"><%= link_to shop.name, shop %></div>
          <div class="badge_container">
            <div class="badge badge-info"><%= shop.area %></div>
            <div class="badge badge-primary"><%= shop.genre %></div>
            <div class="badge badge-warning"><%= shop.likey %></div>
          </div>
          <div class="shop_image_container">
            <% if shop.picture?%>
              <%= image_tag shop.picture.url, class: "shop_image" %>
            <%else%>
              <%= image_tag '/noimage.png', class:"shop_image"%>
            <%end%>
          </div>
          <div class="users_info">
            <div class="icon_container">
              <%= link_to gravatar_for(shop.user), shop.user, class: "icon" %>
            </div>
            <div class="shopper"><%= link_to shop.user.name, shop.user %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @shops %>

  <br>
</div>