<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>店名:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>エリア:</strong>
  <%= @shop.area %>
</p>

<p>
  <strong>ジャンル:</strong>
  <%= @shop.genre %>
</p>

<p>
  <strong>住所:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>お気に入り:</strong>
  <%= @shop.likey %>
</p>

<p>
  <strong>詳細説明:</strong>
  <%= @shop.description %>
</p>

<p>
  <strong>作成日:</strong>
  <%= @shop.created_at.to_s(:datetime_jp) %>
</p>

<p>
  <strong>URL:</strong>
  <a href="<%= @shop.url %>" target="_blank"><%= @shop.url %></a>
</p>

<%= image_tag @shop.picture.url if @shop.picture? %>

<% if current_user %>
  <div>
    <% if Like.find_by(user_id: current_user.id, shop_id: @shop.id) %>
      <%= link_to "/likes/#{@shop.id}/destroy", {method: "post"} do%>
        <span class="fa fa-heart like-btn-unlike"></span>
      <% end %>
    <% else %>
      <%= link_to "/likes/#{@shop.id}/create", {method: "post"} do%>
        <span class="fa fa-heart like-btn"></span>
      <% end %>
    <% end %>
    <%= @likes_count %>
    <% if @shop.user_id == current_user.id %>
      <%= link_to '編集', edit_shop_path(@shop) %> 
      <%= link_to '削除', @shop, method: :delete, data: { confirm: 'この投稿を削除しますか?' } %>
    <% end %>
  </div>
<% end %>


<%= link_to '一覧へ', shops_path %>

<div class="p-comment__list">
  <div class="p-comment_listTitle">コメント</div>
  <%= render @shop.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>
