
<%= gravatar_for @user %>
<h1><%=@user.name%></h1>
<p><%=@user.introduction%></p>

<section class="stats">
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if current_user%>


<h3>投稿一覧</h3>
<% @user.shops.each do |shop| %>
  <ul style="list-style:none;">
    <li><%= shop.user.name %></li>
    <li><%= link_to shop.name, shop %></li>
  </ul>
<% end %>

<h3>いいねした投稿</h3>

<% @likes.each do |like| %>
  <div>
    <% shop = Shop.find_by(id: like.shop_id)%>
    <%= link_to(shop.user.name, "/users/#{shop.user.id}") %>
    <%= link_to(shop.name, "/shops/#{shop.id}") %>
  </div>
<% end %>

<%= link_to "ユーザー一覧", users_url %>
<% if current_user %>
  <%if @user.id == current_user.id%>
    <%= link_to "ユーザー設定", edit_user_url(current_user) %>
    <%= link_to "アカウント削除", @user, method: :delete, data: {confirm: "削除してもよろしいですか？"} %>

  <%end%>
<% end %>
