<% provide(:title, @user.name) %>
<div class="profile-header">
  <div class="user_info">
    <div>
      <div class="profile">
        <% if @user.picture? %>
          <%= image_tag @user.picture.url, class: "gravatar icon"%>
        <% else %>
          <%= gravatar_for @user %>
        <% end %>
      </div>
      <h3 class="user_name"><%=@user.name%></h3>
    </div>
    <p class="introduction"><%=@user.introduction%></p>
    <div class="setting">
      <% if current_user %>
        <%if @user.id == current_user.id || current_user.admin?%>
          <button class="btn btn-info">
            <%= link_to "ユーザー設定", edit_user_url(@user) %>
          </button>
        <%end%>
      <% end %>
    </div>
  </div>

  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <%= render 'follow_form' if current_user%>
</div>

<div class="post_box">
  <div>
    <h4 class="post_header">投稿一覧</h4>
    <p><%= @user.shops.count %>件</p>
  </div>

  <div class="shop_index">
    <% @user.shops.each do |shop| %>
      <div class="shop_container">
        <div class="shop_text">
          <div class="shop_name"><%= link_to shop.name, shop %></div>
          <div class="badge_container">
            <div class="badge badge-info"><%= shop.area %></div>
            <div class="badge badge-primary"><%= shop.genre %></div>
            <div class="badge badge-warning"><%= shop.likey %></div>
          </div>
          <div class="shop_image_container">
            <% if shop.picture?%>
              <%= image_tag shop.picture.url, class: "shop_image" %>
            <%else%>
              <%= image_tag '/noimage.png', class:"shop_image"%>
            <%end%>
          </div>
          <div class="users_info">
            <div class="icon_container">
              <% if shop.picture? %>
                <%= link_to image_tag(shop.user.picture.url, class:"gravatar icon"), shop.user%>
              <% else %>
                <%= link_to gravatar_for(shop.user), shop.user, class: "icon" %>
              <% end %>
            </div>
            <div class="shopper"><%= link_to shop.user.name, shop.user %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="like_box">
  <h4>いいねした投稿</h4>
  <div class="shop_index">
    <% @likes.each do |like| %>
      <% shop = Shop.find_by(id: like.shop_id)%>
      <div class="shop_container">
        <div class="shop_text">
          <div class="shop_name"><%= link_to shop.name, shop %></div>
          <div class="badge_container">
            <div class="badge badge-info"><%= shop.area %></div>
            <div class="badge badge-primary"><%= shop.genre %></div>
            <div class="badge badge-warning"><%= shop.likey %></div>
          </div>
          <div class="shop_image_container">
            <% if shop.picture?%>
              <%= image_tag shop.picture.url, class: "shop_image" %>
            <%else%>
              <%= image_tag '/noimage.png', class:"shop_image"%>
            <%end%>
          </div>
          <div class="users_info">
            <div class="icon_container">
              <% if shop.picture? %>
                <%= link_to image_tag(shop.user.picture.url, class:"gravatar icon"), shop.user%>
              <% else %>
                <%= link_to gravatar_for(shop.user), shop.user, class: "icon" %>
              <% end %>
            </div>
            <div class="shopper"><%= link_to shop.user.name, shop.user %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

