<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.picture? %>
        <%= link_to image_tag(@user.picture.url, class:"gravatar icon"), @user%>
      <% else %>
        <%= link_to gravatar_for(@user), @user %>
      <% end %>     
      <div class="host_user">
        <h3><%= link_to @user.name , @user%></h3>
      </div>
      <span><b>投稿数　</b> <%= @user.shops.count %>件</span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <% if user.picture? %>
              <%= link_to image_tag(user.picture.url, class:"gravatar icon"), user%>
            <% else %>
              <%= link_to gravatar_for(user, size: 30), user %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow" style="list-style: none;">
        <% @users.each do |user| %>
          <div class="user_container">
            <div class="icon_container">
              <% if user.picture? %>
                <%= link_to image_tag(user.picture.url, class:"gravatar icon"), user%>
              <% else %>
                <%= link_to gravatar_for(user), user, class: "icon" %>
              <% end %>
            </div>
            <div class="user_text">
              <div class="users_name"><%= link_to user.name, user %></div>
              <div><%= user.introduction %></div>
            </div>
          </div>  
        <% end %>
      </ul>
    <% end %>
  </div>
</div>